/*---------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/
/*                                  Pages           */
article{
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: #eaeae8;
}

article header{
    height: 12%;
    min-height: 65px;
}
article section{
  width: 98%;
  margin-left: 1%;
  height: 87%;
  border: 1.3px solid #757070;
  border-radius: 5px;

}

article header button{
  width: 50px;
  height: 50px;
  margin: 5px;
}
button.add-backup{
  background: url('img/add-backup.png') no-repeat center;
  background-size: 40px 40px;
}
article section table{
  width: inherit;
  /*height: inherit;*/
}
article section table thead th{
  padding: 10px;
  border-bottom:1.1px solid #ccc;
}
article section table tbody{
  vertical-align: top;
}
article section table tbody tr td{
  padding: 10px;
}
article section table tbody tr{
  padding: 10px;
  border-top:1.1px solid #ccc;
  vertical-align: top;
}
/*---------------------------------------------------*/
.background-dark{
  width: inherit;
  height: inherit;
  position: absolute;
  background: #000;
  opacity: 0.7;
  z-index: 99990;
}
.sub-page{
  width: 80%;
  height: 80%;
  top:10%;
  left: 10%;
  position: absolute;
  background: #eee;
  z-index: 99999;
  border: 2px solid #ccc;
}

.sub-page section{
  margin: 10px;
  font-size: 16px;
}
.sub-page input{
  font-size: 16px;
  line-height: 20px;
}
.sub-page .header input{
  width: 100%;
  font-size: 16px;
}
.hidden-input{
  display: none;
}

.tabs-area{
  border-bottom: 1px solid #ccc;
}

.tabs-area button{
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  padding: 0 15px;
}

.sub-page section .tab-option{
  position: absolute;
  width: 95%;

}
.tab-container{
  position: relative;
  height: 75%;
}


.buttons-area button{
  width: 40px;
  height: 40px;
  margin: 10px;
}
.tab-option table{
  width: 100%;
}
table .td-80{
  width: 80%;
}

.tab-option-source{

}
.tab-option-destination{
  display: none;
}
.tab-option-schedule{
  display: none;
}
.tab-option-schedule .days{
  list-style: none;
  width: 50%;
  float: left;
}
.tab-option-schedule .days li{
  font-size: 20PX;
  padding: 2px 10px;
}

.tab-option-schedule .days input{
  height: 15px;
  width: 15px;
  vertical-align: middle;
}


.tab-option-schedule .hours{
  width: 50%;
  float: right;
}
.tab-option-schedule .hours input{
  width: 18px;
  padding: 2px;
  text-align: right;
}

.footer-buttons{

}
.footer-buttons #lblMsg{
  width: 65%;
  float: left;
  display: block;
  font-size: 16px;
  line-height: 16px;
  height: 20px;
}
.footer-buttons button{
  padding: 5px 20px;
  margin: 0 10px;

}

/*---------------------------------------------------*/

/*---------------------------------------------------*/
